/**
 * Background default
 */

a.xt-btn-primary:hover,
.give-btn,
.give_submit,
#give-register-form .button,
.ch-blog.sticky .blog-content:before,
.pager li.active>span,
.woocommerce-pagination li.active > span,
.btn.btn-fill,
.btn-border:hover,
.btn-base,
.ch-event .owl-prev,
.charitus-donation-causes-slider .owl-prev,
.main-color-bg, 
.navbar-nav > li > a:hover:before,
.navbar-nav > li > a:focus:before,
.navbar-nav li.active a:before,
.xt_theme_paignation.xt-theme-page-links .pager .active a,
.blog-content .entry-footer a.btn:focus,
.blog-content .entry-footer a.btn:active,
.ch-pagination .pagination > .active > a,
.ch-pagination .pagination > .active > a:focus,
.ch-pagination .pagination > .active > a:hover,
.ch-pagination .pagination > .active > span,
.ch-pagination .pagination > .active > span:focus,
.ch-pagination .pagination > .active > span:hover,
.mean-container .mean-nav ul li a.mean-expand,
.mean-container .mean-nav ul li a.mean-expand:hover,
.ch-blog .blog-banner .date,
.features-inner .features-content,
.ch-event .owl-next,
.charitus-donation-causes-slider .owl-next,
.comment-respond .form-submit input[type=submit],
.search-form .search-submit,
.post-password-form input[type=submit],
.button.button-primary,
.button.button-secondary,
.vc_row.xt_vc_row-background-primary,
.post-password-form input[type=submit],
.ch-causes .campaign-progress-bar .bar,
.ch-event .event-banner .charitus-event-price,
body .campaign-progress-bar .bar, body .donate-button, body #charitable-donation-amount-form .donation-amount.selected,
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,
#tribe-events-content .tribe-events-tooltip h4,
.tribe-events-list .tribe-events-event-cost span,
.xt-page-layout-full-width .charitable-user-campaigns .charitable-campaign .charitus-campaign-status,
.ch-pre-header,
.ch-campaign-ajax-search-result-area li a:hover,
.woocommerce span.onsale,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce div.product div.images .woocommerce-product-gallery__trigger,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce-MyAccount-navigation ul li a,
.vc_tta-container .vc_tta-accordion.xt-vc-tta-accordion-theme-default .vc_tta-panel.vc_active .vc_tta-panel-heading,
.vc_tta-container .vc_tta-accordion.xt-vc-tta-accordion-theme-default.vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading:hover,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: #3cb878;
}


/**
 * Background dark
 */

.btn.btn-fill:hover,
.btn.btn-fill:focus, 
.give-btn:hover, .give-btn:focus,
.give_submit:hover, .give_submit:focus,
#give-register-form .button:hover, #give-register-form .button:focus,
.comment-respond .form-submit input[type=submit]:hover,
.button.button-primary:hover,
.button.button-secondary:hover,
.post-password-form input[type=submit]:hover,
body .charitus-donation-causes .donate-button.btn.btn-fill:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #36a56b;
}

/**
 * Background lite
 */

.ch-grid .ch-grid-item figure:hover figcaption {
	background: rgba(60, 184, 120, 0.8);
}



/**
 * Color
 */

.main-color,
.ch-causes .cause-inner-content .give-goal-progress .raised .income, 
.ch-causes .cause-inner-content .give-goal-progress .raised .goal-text,
.charitus-donation-forms .give-goal-progress .raised .income, 
.charitus-donation-forms .give-goal-progress .raised .goal-text,
.xt_vc_row-color-white .charitus-donation-cause-item .cause-inner .main-color,
.ch-footer .footer-content ul li a:hover,
.ch-footer .ch-widget-list ul li a:hover,
.edit-link a.post-edit-link:hover,
.edit-link a.post-edit-link:focus,
.edit-link a.post-edit-link:active,
.blog_widget ul li a:hover,
.ch-sidebar a:hover,
.copyright .social ul li:hover a,
.copyright .coptyright-content a:hover,
.ch-client-testimonial .item blockquote h3,
.ch-client .contact-form .section-title h2 span,
.ch-client-testimonial .item blockquote p:before,
.ch-client-testimonial .item blockquote p:after,
.ch-client .contact-form .section-title h2 span,
.navbar-nav > li > a:hover:before,
.navbar-nav > li > a:focus:before,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav li.active a:before,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-nav li.active a, 
.navbar-nav li.current-menu-item a,
.navbar-nav > li > .dropdown-menu li.current-menu-item a,
.navbar-nav li.current_page_item a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-nav li.active a:hover, 
.navbar-nav li.current-menu-item a:hover,
.navbar-default .navbar-nav li.current-menu-parent > a,
.header-slider .slide-tablecell h1,
.features-inner .each-details i:before,
.section-title h2 span,
.navbar-nav > li > .dropdown-menu li a:hover,
a:focus, a:hover,
.charitus-blog-tags-n-share a:hover,
.blog-content blockquote,
.comment a,
.comment-edit-link,
.comment a:hover,
.comment-edit-link:hover,
.campaign-donation-stats .amount,
.campaign-donation-stats .goal-amount,
.ch-donation-stats-item i,
#charitable-donation-form .donation-amounts .donation-amount.suggested-donation-amount.selected > label:before,
.widget_charitable_donate_widget #charitable-donation-amount-form .donation-amounts .donation-amount.suggested-donation-amount.selected label:before,
body .charitable-donation-form .recurring-donation .recurring-donation-option.selected > label,
body .campaign-raised .amount, body .campaign-figures .amount, body .donors-count, body .time-left, body .charitable-form-field a:not(.button), body .charitable-form-fields .charitable-fieldset a:not(.button) {
  color: #3cb878;
}


/**
 * Border
 */ 

.blog-content blockquote,
.give-btn:hover, .give-btn:focus,
.give_submit:hover, .give_submit:focus,
#give-register-form .button:hover, #give-register-form .button:focus,
.comment-form input[type="text"]:focus, 
.comment-form input[type="url"]:focus, 
.comment-form input[type="email"]:focus, 
.comment-form input[type="email"]:focus, 
.comment-form textarea:focus,
.post-password-form input[type="password"]:focus,
a.xt-btn-primary,
.nav-previous a, .nav-next a,
a.xt-btn-primary:hover,
.blog_widget select:focus,
.ch-causes .cause-inner-content .btn,
.ch-event .event-content .btn,
.ch-pagination .pagination li a,
.ch-blog .blog-content .btn,
.navbar-nav > li > a.sign-up, 
input[type="submit"].btn-border,
input[type="submit"].btn-border:hover,
input[type="submit"].btn-border:focus,
.form-control:focus,
input[type="text"]:focus, 
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
textarea:focus,
.search-form input[type=search]:active,
.search-form input[type=search]:focus,
.xt_vc_row-color-white .ch-campaign-search .btn.btn-fill,
.widget.widget_tag_cloud a, .widget.widget_product_tag_cloud a,
.mean-container .mean-nav ul li,
.button.button-secondary, .button.button-secondary:hover,
.button.button-primary, .button.button-primary:hover,
.widget_charitable_donate_widget #charitable-donation-amount-form .donation-amounts .donation-amount.suggested-donation-amount.selected,
.widget_charitable_donate_widget #charitable-donation-amount-form .donation-amounts .donation-amount.suggested-donation-amount:hover,
body #charitable-donation-form .donation-amount.selected,
#charitable-donation-form .donation-amounts .donation-amount.suggested-donation-amount.selected,
#charitable-donation-form .donation-amounts .donation-amount.suggested-donation-amount:hover,
.tribe-events-list .tribe-events-event-cost span,
.ch-campaign-search .btn,
.widget_product_search .search-field:focus,
.pager li>a, .pager li>span,
.woocommerce-pagination li > a, .woocommerce-pagination li > span,
.woocommerce .ch-woocommerce-shop-filter-wrapper .woocommerce-ordering select:focus, .woocommerce div.product form.cart .variations select:focus,
.vc_tta-container .vc_tta-accordion.xt-vc-tta-accordion-theme-default .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-controls-icon:before,
.select2-container--default .select2-search--dropdown .select2-search__field:focus,
#charitable_field_recipient .charitable-recipient-type.selected,
#give-recurring-form .form-row input[type=text]:focus, #give-recurring-form .form-row input[type=tel]:focus, #give-recurring-form .form-row input[type=email]:focus, #give-recurring-form .form-row input[type=password]:focus, #give-recurring-form .form-row select:focus, #give-recurring-form .form-row textarea:focus, form.give-form .form-row input[type=text]:focus, form.give-form .form-row input[type=tel]:focus, form.give-form .form-row input[type=email]:focus, form.give-form .form-row input[type=password]:focus, form.give-form .form-row select:focus, form.give-form .form-row textarea:focus, form[id*=give-form] .form-row input[type=text]:focus, form[id*=give-form] .form-row input[type=tel]:focus, form[id*=give-form] .form-row input[type=email]:focus, form[id*=give-form] .form-row input[type=password]:focus, form[id*=give-form] .form-row select:focus, form[id*=give-form] .form-row textarea:focus {
	border-color: #3cb878;
}


/**
 * Border dark
 */

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-MyAccount-navigation ul li a,
.btn.btn-fill,
.give-btn,
.give_submit,
#give-register-form .button {
	border-color: #36a56b;
}


/**
 * Border color lite
 */

.ch-client-testimonial #quote-carousel .carousel-indicators li {
	border-color: rgba(60, 184, 120, 0.8);
}